[Desktop Entry]
Name=xane no borders
Comment=xane decoration theme (no borders version)


X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=[edgarekººº]
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=xane-nb
X-KDE-PluginInfo-Version=v1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
X-KWin-Config-TranslationDomain=kwin_clients
Type=Service

